<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ClubData" connectionString="Data Source=localhost;Initial Catalog=QATeeTimes_UserConference;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>