<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <root>
    <level value="Debug"/>
    <appender-ref ref="AspNetTraceAppender"/>
    <appender-ref ref="BufferedConsoleAppender"/>
    <appender-ref ref="AdoNetAppender" />
    <!-- TODO: implemenet the mdc logging stuff within WebAPI to write contextual info per route -->
  </root>
  <!-- Taken from http://logging.apache.org/log4net/release/config-examples.html -->
  <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <appender name="BufferedConsoleAppender" type="log4net.Appender.BufferingForwardingAppender" >
    <bufferSize value="100"/>
    <appender-ref ref="ConsoleAppender" />
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <!-- See http://logging.apache.org/log4net/release/config-examples.html -->
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="WebAdminServer" />
    <commandText value="INSERT INTO [dbo].[EventLog] ([EventID],[EventTime] ,[EventType] ,[EventCategory] ,[EventSource] ,[Notes] ,[ClubID] ,[UserID] ,[DepartmentID] ,[RegisterID] ,[IPAddress] ,[TrackingID] ,[AuditLogin] ,[AuditHostName]) VALUES (NEWID() , @EventTime ,@EventType ,@EventCategory ,@EventSource ,isnull(@Notes,'') + isnull(' Exception: ' + @exception, '') ,@ClubID ,@UserID ,@DepartmentID ,@RegisterID ,@IPAddress ,@TrackingID ,@AuditLogin ,@AuditHostName)" />
    <parameter>
      <parameterName value="@EventTime" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@EventType" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@EventCategory" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- Example conversion patern. Anything in format %property{Key} is a contextual property you can add by calling log.SetContext(Key, Value). All others are log4net patterns. -->
        <!--<conversionPattern value="%date %-5level %logger [%property{NDC}] - %message | category:%property{Category},company:%property{CompanyID},user:%property{UserID},ip:%property{IPAddress},tracking:%property{TrackingID}%newline" />-->
        <conversionPattern value="%property{EventCategory}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@EventSource" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Notes" />
      <dbType value="String" />
      <size value="999999" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- Example conversion patern. Anything in format %property{Key} is a contextual property you can add by calling log.SetContext(Key, Value). All others are log4net patterns. -->
        <!--<conversionPattern value="%date %-5level %logger [%property{NDC}] - %message | category:%property{Category},company:%property{CompanyID},user:%property{UserID},ip:%property{IPAddress},tracking:%property{TrackingID}%newline" />-->
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ClubID" />
      <dbType value="Guid" />
      <layout type="IBS.Logging.Layout.GuidPropertyLayout">
        <key value="ClubID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserID" />
      <dbType value="Guid" />
      <layout type="IBS.Logging.Layout.GuidPropertyLayout">
        <key value="UserID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@DepartmentID" />
      <dbType value="Guid" />
      <layout type="IBS.Logging.Layout.GuidPropertyLayout">
        <key value="DepartmentID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@RegisterID" />
      <dbType value="Guid" />
      <layout type="IBS.Logging.Layout.GuidPropertyLayout">
        <key value="RegisterID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@IPAddress" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- Example conversion patern. Anything in format %property{Key} is a contextual property you can add by calling log.SetContext(Key, Value). All others are log4net patterns. -->
        <!--<conversionPattern value="%date %-5level %logger [%property{NDC}] - %message | category:%property{Category},company:%property{CompanyID},user:%property{UserID},ip:%property{IPAddress},tracking:%property{TrackingID}%newline" />-->
        <conversionPattern value="%property{IPAddress}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@TrackingID" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- Example conversion patern. Anything in format %property{Key} is a contextual property you can add by calling log.SetContext(Key, Value). All others are log4net patterns. -->
        <!--<conversionPattern value="%date %-5level %logger [%property{NDC}] - %message | category:%property{Category},company:%property{CompanyID},user:%property{UserID},ip:%property{IPAddress},tracking:%property{TrackingID}%newline" />-->
        <conversionPattern value="%property{TrackingID}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@AuditLogin" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{AuditLogin}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@AuditHostName" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="999999" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
</log4net>
